header {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}
.underScores {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}
.rightGuess {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}
.wrongGuess {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}